Jewelry.Api/Jewelry.Api/bin
Jewelry.Api/Jewelry.Api/obj
Jewelry.Api/Jewelry.Data/bin
Jewelry.Api/Jewelry.Data/obj
Jewelry.Api/jewelry.Model/bin
Jewelry.Api/jewelry.Model/obj
Jewelry.Api/Jewelry.Service/bin
Jewelry.Api/Jewelry.Service/obj
Jewelry.Api/Jewelry.Api.sln
Jewelry.Api/.vs
Jewelry.Api/DynamicLinqCore/bin
Jewelry.Api/DynamicLinqCore/obj
Jewelry.Api/Jewelry.Api/Images
Jewelry.Api/Jewelry.Api/.vs
Jewelry.Api/Jewelry.Api/appsettings.json
Jewelry.Api/Jewelry.Api/appsettings.json
Jewelry.Api/Jewelry.Api/Jewelry.Api.sln
