# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - dk-api

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj

      - name: Build
        run: dotnet build ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj --configuration Release --no-build --output ${{github.workspace}}/publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: ${{github.workspace}}/publish

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_18B23D72127B453EBAD17847B796831C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_06D24872B2A24379A8389832322D667E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_CEE629B50CCE4440A73102694A467952 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'dk-api'
          slot-name: 'Production'
          package: .