name: Build and deploy ASP.Net Core app to Azure Web App - dk-api

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Clean
        run: dotnet clean ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj --configuration Release

      - name: Restore dependencies
        run: dotnet restore ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj

      - name: Build
        run: dotnet build ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./Jewelry.Api/Jewelry.Api/Jewelry.Api.csproj --configuration Release --no-build --output ${{github.workspace}}/publish --no-self-contained

      - name: Remove debug symbols
        run: find ${{github.workspace}}/publish -name "*.pdb" -type f -delete

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: ${{github.workspace}}/publish

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'dk-api'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .